*{
    font-family: arial, serif;
    margin: 0;
    padding: 0;
}

/*body{*/
/*    background-image:*/
/*            linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(images/DexBkgrd.jpg);*/
/*    width: 100%;*/
/*    height: 1000px;*/
/*    background-size: cover;*/
/*}*/

nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
}

nav p{
    background-color: #000000;
    color: hotpink;
    font-size: 24px;
    line-height: 60px;
    float: left;
    padding: 0 20px;
}

nav ul {
    float: left;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-family: arial, serif;
    color: #222222;
    font-size: 19px;
    padding: 19px 14px;
    text-decoration: none;
}

nav ul li a:hover{
    color: hotpink;
    background-color: #000000;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 0;
    border-radius: 0 0 10px 10px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li {
    width: 180px;
}

nav ul li ul li a {
    padding: 9px 14px;
}

nav ul li ul li:hover {
    background-color: #f3f3f3;
}

.galleryContainer {
    width: 100vw;
    height: 34vw;
    user-select: none;
    background-color: black;
    box-shadow: 0 0 3px 1px #00000078;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.galleryContainer .slideshow-container .mySlides {
    margin: 0 auto;
    width: 99vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev, .next {
    flex-shrink: 0;
    background-color: black;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -155px;
    padding: 16px;
    color: hotpink;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
}


.quote {
    font-style: italic;
    font-size: 20px;
    color: hotpink;
    text-shadow: 2px 2px black;
    background-color: black;
    padding: 0 50px 40px;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: #ededed;
}

table {
    padding: 10px;
    text-align: left;
    border-spacing: 5px;
    line-height: 60px;
}


table tr td.tableHeader {
    font-size: 30px;
    font-weight: bold;
    color: hotpink;
    text-shadow: 2px 2px black;
    text-decoration: underline;
    height: 60px;
    width: 400px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}

 #playButton {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 5;
    margin: 10px 0 0 3px;
    cursor: pointer;
    background-image: url("images/playButton.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#pauseButton {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 5;
    margin: 10px 0 0 42px;
    cursor: pointer;
    background-image: url("images/pauseButton.png");
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

#pauseButton:hover, #playButton:hover {
    background-color: hotpink;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px hotpink;
}


.galleryContainer #dotsContainer {
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.galleryContainer #dotsContainer .dots {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 30px;
    background-color: grey;
    border: 2px white;
    cursor: pointer;
    transition: background-color .5s;

}

.galleryContainer #dotsContainer .dots:hover, .galleryContainer #dotsContainer .dots.active  {
    background-color: hotpink;
}

.galleryContainer #dotsContainer .dots:first-child {
    margin-left: 0;
}
