h1{
    color: blue;
    font-family: Arial, Helvetica, serif;
}

p{
    color: #000000;
    font-family: Arial, sans-serif;
    margin-left: 10px;
    padding: 5px;
}

button:hover {
    background: gray;
}


button{
    display: inline;
    background: #428BCA;
    color: white;
    font-family: Sans-serif, serif;
    font-size: 20px;
    height: 40px;
    width: 150px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border-color: black;
    transition: all 0.3s ease 0s;
}

button a {
    color: white;
    text-decoration: none;
}
