*{
    margin: 0;
    padding: 0;
    font-family: DIN Condense;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(DexBkgrd.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 10px;
}

ul li{
    display: inline-block;
}

ul li a{
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 2px solid white;
    transition: 0.9s ease;
}

ul li a:hover{
    background-color: #ffffff;
    color: #000000;
}








h1{
    color: blue;
    font-family: Arial, Helvetica, serif;
}

p{
    color: #000000;
    font-family: Arial, sans-serif;
    margin-left: 10px;
    padding: 5px;
}

button:hover {
    background: gray;
}


button{
    display: inline;
    background: #428BCA;
    color: white;
    font-family: Sans-serif, serif;
    font-size: 20px;
    height: 40px;
    width: 150px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border-color: black;
    transition: all 0.3s ease 0s;
}

button a {
    color: white;
    text-decoration: none;
}
