* {
    box-sizing: border-box;
}

body {
    background: url("images/bkgrd.jpg");
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 20px;
}

header {
    background: url("images/DexAndMeUtah.jpg");
    background-size: cover;
    height: 300px;
    color: white;
    text-align: end ;
    padding: 100px 15px 0 30px;
}

header img {
    height: 180px;
    width: 180px;
    border: solid white 7px;
    box-shadow: 0 0 3px #fff;
    border-radius: 10%;
    float: left;
    bottom: 0;
}

header h1 {
    font-size: 100px;
    text-shadow: 2px 2px #0F1B2C ;
}

section {
    display: flex;
    min-height: 50vh;
}

nav {
    background-color: rgba(0,0,0,0.1);
    color: #ffffff;
    padding: 0 0 0 0;
    flex: 0 0 20em; /*em is a unit of font that's adaptive to screen size, rather than px which is fixed*/
}

nav ul li {
    font-weight: bold;
}

.aboutMeSections {
    list-style: none;
    padding: 30px;
}

.aboutMeSections li a{
    padding: 30px;
    text-decoration: none;
    color: #000000;
    display: block;
}

.aboutMeSections li:nth-child(odd) {
    background-color: rgba(0,0,0,0.1);
}

.aboutMeSections li:nth-child(even) {
    /*transition: 0.6s ease;*/
    background-color: rgba(255,255,255,0.1);
}

.aboutMeSections li a:hover {
    background-color: black;
    color: white;
    transition: 0.6s ease;
}

article {
    padding: 10px;
    /*flex: 3;*/
}

article div {
    display: none;
}

.intro {
    display: block;
}

.introDesc{
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    font-weight: bold;
    list-style: none;
}


/*article div img {*/
/*    width: 565px;*/
/*    height: 362px;*/
/*}*/

article div img {
    width: 100%;
    max-width: 565px;
    height: auto;
}
article div .goals {
    height: 200px;
    width: 565px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

footer ul {
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

footer ul li {
    font-size: 20px;
    display: inline;
    padding: 0 20px 0 20px;
}

footer ul li a {
    text-decoration: none;
}

footer ul li:hover {
    color: white;
    transition: 0.6s ease;
    text-decoration: underline;
}

@media (max-width: 860px) {
    header h1{
       font-size: 60px;
        float: bottom;
        bottom: 0;
    }

    nav {
        max-width: 200px;
    }

}