*{
    font-family: 'Source Code Pro', 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
}

.masthead {
    background-image: url(images/bannerheader.jpg);
    padding: 1em 2em;
    color: black;

}

.masthead h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;

}

.test-wrapper {
    border: 10px solid grey;
    border-radius: 10px;
    display: flex;
    height: 200%;
}

.test-wrapper textarea {
    flex: 1;
}

#origin-text {
    background-color: #ededed;
    padding: 1em 1em 0;
    margin: 1em 0;
}

#origin-text p{
    margin: 0;
    padding-bottom: 1em;
}

.test-area{
    max-width: 550px;
    padding: 0 2em;
    margin: 0 auto 4em;
}

#reset{
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #E95D0F;
    background: white ;
    border: 10px solid #E95D0F;
}

.timer{
    font-size: 3em;
    font-weight: bold;
}

.intro {
    background-color: #0F1B2C;
    color: #fff;
    padding: 2em 2em;
}

.intro p{
    max-width: 550px;
    margin: 0 auto;
}

#reset:hover{
    color: white;
    background-color: #E95D0F;
}

.meta{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    font-size: 200px;
    font-family: Ayuthaya, serif;
    color: #91C050;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

